.lc--cpp-shadow:hover {
  box-shadow: 0 4px 8px 0 #f34b7d, 0 6px 20px 0 #f34b7d;
}

.lc--css-shadow:hover {
  box-shadow: 0 4px 8px 0 #663399, 0 6px 20px 0 #663399;
}

.lc--html-shadow:hover {
  box-shadow: 0 4px 8px 0 #e34c26, 0 6px 20px 0 #e34c26;
}

.lc--nushell-shadow:hover {
  box-shadow: 0 4px 8px 0 #4e9906, 0 6px 20px 0 #4e9906;
}

.lc--rust-shadow:hover {
  box-shadow: 0 4px 8px 0 #dea584, 0 6px 20px 0 #dea584;
}

.lc--scss-shadow:hover {
  box-shadow: 0 4px 8px 0 #c6538c, 0 6px 20px 0 #c6538c;
}

.lc--typescript-shadow:hover {
  box-shadow: 0 4px 8px 0 #3178c6, 0 6px 20px 0 #3178c6;
}

.lc--vento-shadow:hover {
  box-shadow: 0 4px 8px 0 #ff0080, 0 6px 20px 0 #ff0080;
}
