<ul class="postList">
	{{ for post of postslist }}
		{{ include "templates/post-card.vto" {
			url: post.url,
			title: post.title,
			excerpt: post.excerpt,
			thumbnail: post.thumbnail,
			readingInfo: post.readingInfo,
		} }}
	{{ /for }}
</ul>