<a class="st lc--{{language}}-shadow" target="_blank" href="{{ link }}">
	<p class="twb">
		{{name}}
	</p>
	<p>
		<small>
			{{ if language }}
				<code>{{language}}:</code><br>
			{{ /if }}
			{{description}}
		</small>
	</p>
</a>
