---
layout: layouts/base.vto
---

<header>
	<p>
		<a href="/blog/">{{ i18n.nav.back }}</a>
	</p>
	<h1>{{ title }}</h1>
</header>

{{ include "templates/post-table.vto" { postslist: search.pages(search_query) } }}