---
layout: layouts/base.vto
title: graef::blog
---

<header >
	<h1>blog</h1>
</header>

<p>
{{ for tag of search.values("tags") }}
<a class="tag c" href="/tags/{{ tag }}">{{ tag }}</a>
{{ /for }}
</p>

{{ include "templates/post-table.vto" { postslist: search.pages("type=post", "date=desc") } }}