---
title: graef
layout: layouts/base.vto
---

<div class="ih">
	<img class="brf im fg" src="imgs/profile_picture.jpg"/>
</div>

<h3>
	Hey I am graef and this is my blog
</h3>

<p>
	I am currently stuying archaelogy and computer linguistsics at the:
	<a class="fl" href="https://portal.uni-koeln.de/en/uoc-home" target="_blank">
		university of cologne.
	</a>
</p>
<p>
	I am intersted in Data Visualisation, Web Design and Minimalism.
</p>