@import "style/reset.css";

:root {
  /*colours*/
  --fl: #e5e9ea;
  --fd: #95999a;
  --b: #484a54;
  --el: #4e515a;
  --ed: #30323e;
  /*border*/
  --br-s: 5px;
  --br-m: 10px;
  --br-b: 15px;
  --br-f: 100%;
  /*margin, padding,gap */
  --m-s: 0.5rem;
  --m-m: 1.25rem;
  --m-l: 2rem;
  --p-s: 0.5rem;
  --p-m: 1.25rem;
  --p-l: 2rem;
  --g-s: 0.5rem;
  --g-l: 2rem;
}

h1:not(.fof),
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--m-s);
  margin-bottom: var(--m-l);
}

img {
  max-width: 100%;
}

a {
  color: var(--fd);
  &:hover {
    color: var(--fl);
  }
}

/* grid normal > small */
.g {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(auto, 1fr)
    [main-start]
    min(100%, 65ch)
    [main-end]
    minmax(auto, 1fr)
    [full-end];
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
}

.g > .ma {
  grid-column: main;
  margin: var(--m-s);
}

.g > .fu {
  grid-column: full;
  background-color: var(--ed);
  padding: var(--p-s);
}

.gs {
  display: grid;
  grid-template-columns:
    auto
    [main-start]
    min(100%, 60ch)
    [main-end]
    auto;
}

.gs > * {
  grid-column: main;
}

/* helper classes*/
.tc {
  text-align: center;
}

.fg {
  filter: grayscale(50%);
}

.fl {
  color: var(--fl);
}

.fd {
  color: var(--fd);
}

.brf {
  border-radius: var(--br-f);
}

.lhu:hover {
  border-bottom: 1px dotted var(--fl);
}

/* body */
.b {
  background-color: var(--b);
  color: var(--fl);
}

.h {
  grid-column: main;
  display: flex;
  justify-content: space-between;
}

.h > * {
  padding: var(--p-s);
}

.h a {
  color: var(--fl);
  &:hover {
    color: var(--fd);
  }
}

.h > .n {
  display: flex;
  gap: var(--g-l);
}

.f > .p {
  grid-column: main;
  color: var(--fd);
  > a {
    color: var(--fl);
  }
}

/* homepga */
.ih {
  display: flex;
  justify-content: center;
  margin-bottom: var(--m-l);
}

.im {
  width: max(10ch, 40%);
}

/* mardown */
.md {
  padding-bottom: var(--p-l);
  > section {
    margin-bottom: var(--m-l);
    > * {
      margin-bottom: var(--m-m);
    }
  }
  /* details */
  .d {
    color: var(--fd);
    display: flex;
    flex-flow: row wrap;
    column-gap: var(--g-s);
    align-items: center;
    & p:nth-child(-n + 2)::after {
      content: "•";
      padding-left: var(--p-s);
      align-self: stretch;
    }
    margin-bottom: var(--m-s);
  }
  blockquote,
  pre {
    background-color: var(--el);
    padding: var(--p-s);
  }
  blockquote {
    border-left: 2px solid var(--fl);
  }
  hr {
    color: var(--el);
  }
  ul,
  ol {
    /* get on li l long xxxxviii (myb xxlviii) */
    padding-left: 8ch;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: lower-roman;
  }
  img {
    width: 100%;
  }
}

/* 404 */
.er {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.er > .ms {
  border-radius: var(--br-b);
  background-color: var(--ed);
  color: var(--fd);
  padding: var(--p-l);
  text-align: center;

  transform: scale(1.5);

  > p > a {
    color: var(--fd);
    &:hover {
      color: var(--fl);
    }
  }
}

/* list */
.u {
  margin-top: var(--m-l);
  display: grid;
  gap: var(--g-s);
}

.l {
  display: flex;
  justify-content: space-between;
  padding: var(--p-s) var(--p-m);
  color: var(--fd);
  background-color: var(--ed);
  border-radius: var(--br-m);

  &:hover {
    color: var(--fl);
  }
}
